@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.408);
  padding: 16px 0 0 0;
  color: white;
  border-bottom: 1px solid white;
}
.navbar > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar > div img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.navbar > div .slogan {
  text-align: center;
}
.navbar > div .slogan h1 {
  font-size: 3em;
  margin: 0;
  text-shadow: 1px 1px 4px black;
}
.navbar > div .slogan p {
  margin: 0;
  text-shadow: 1px 1px 4px black;
}
.navbar > div a:nth-child(3) {
  text-decoration: none;
  background-color: rgb(30, 136, 224);
  padding: 8px 16px;
  color: white;
  border-radius: 8px;
  margin: 8px 0;
  border: 1px solid rgb(30, 136, 224);
  transition: 0.3s;
}
.navbar > div a:nth-child(3):hover {
  background-color: white;
  color: rgb(30, 136, 224);
  scale: 1.05;
  transition: 0.3s;
}
.navbar ul {
  padding: 8px 16px;
  width: 60%;
  display: flex;
  margin: auto;
  justify-content: space-around;
  border: 1px solid white;
  border-bottom: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-top: 16px;
  font-weight: 500;
}
.navbar ul li {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  text-align: center;
}
.navbar ul li span {
  width: 100%;
  height: 2px;
  background-color: white;
  transform: translate(-200%);
  transition: 0.3s ease-out;
}
.navbar ul li:hover span {
  transform: translate(0);
  transition: 0.3s;
}

.home section {
  margin-top: 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.home section .description {
  width: 30%;
  font-size: 2em;
  font-weight: 600;
  color: white;
  text-align: justify;
  text-shadow: 1px 1px 4px black;
}
.home section .card {
  background-color: white;
  position: relative;
  box-shadow: 1px 4px 4px grey;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
}
.home section .card h3 {
  font-weight: 500;
  margin: 0;
}
.home section .card h2 {
  margin-top: 0;
  margin-bottom: 8px;
}
.home section .card p {
  margin: 0;
}
.home section .card img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 16px;
  box-shadow: 1px 2px 4px grey;
}
.home section .card .ride {
  position: absolute;
  right: 16px;
  font-size: 0.8em;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: rgb(122, 194, 13);
}
.home section .card .follow {
  display: inline-block;
  text-decoration: none;
  background-color: rgb(30, 136, 224);
  padding: 8px 16px;
  color: white;
  border-radius: 8px;
  margin: 8px 16px;
  border: 1px solid rgb(30, 136, 224);
  transition: 0.3s;
}
.home section .card .follow:hover {
  background-color: white;
  color: rgb(30, 136, 224);
  scale: 1.05;
  transition: 0.3s;
}

.calendar {
  margin-top: 16px;
  text-align: center;
}
.calendar .formButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calendar .formButton button {
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  background-color: rgb(30, 136, 224);
  padding: 8px 16px;
  color: white;
  border-radius: 8px;
  margin: 8px 0;
  border: 1px solid rgb(30, 136, 224);
  transition: 0.3s;
  font-size: 1.2em;
}
.calendar .formButton button:hover {
  background-color: white;
  color: rgb(30, 136, 224);
  scale: 1.05;
  transition: 0.3s;
}
.calendar .formButton .dispo:first-child {
  background-color: #45a049;
  border: 1px solid #45a049;
}
.calendar .formButton .dispo:first-child:hover {
  background-color: white;
  color: #45a049;
  scale: 1.05;
  transition: 0.3s;
}
.calendar .formButton .not-dispo {
  background-color: #AA1803;
  border: 1px solid #AA1803;
  transition: 0.3s;
}
.calendar .formButton .not-dispo p {
  margin: 0;
  margin-top: 8px;
}
.calendar .formButton .not-dispo:hover {
  background-color: white;
  color: #AA1803;
  transform: scale(1.05);
  transition: 0.3s;
}
.calendar .formButton .not-dispo:hover p {
  color: #AA1803;
}
.calendar .selectStation select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-align: center;
  background-color: rgb(30, 136, 224);
  padding: 8px 16px;
  color: white;
  border-radius: 8px;
  margin: 8px 0;
  border: 1px solid rgb(30, 136, 224);
  transition: 0.3s;
  font-size: 1.2em;
}
.calendar .selectStation select:hover {
  background-color: white;
  color: rgb(30, 136, 224);
  scale: 1.05;
  transition: 0.3s;
}
.calendar > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar > div p {
  font-weight: 600;
  color: white;
}
.calendar > div .switch-input {
  height: 0;
  width: 0;
  visibility: hidden;
}
.calendar > div .switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 60px;
  height: 30px;
  background: grey;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
}
.calendar > div .switch-label .switch-button {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  border-radius: 45px;
  transition: 0.2s;
  background: #D9D9D9;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}
.calendar > div .switch-input:checked + .switch-label .switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}
.calendar > div .switch-label:active .switch-button {
  width: 40px;
}
.calendar h1 {
  font-size: 2em;
  color: white;
}
.calendar section {
  margin: 16px 0;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
}
.calendar section .day {
  background-color: white;
  text-align: center;
  width: 300px;
  height: 600px;
  border: 1px solid black;
  border-radius: 16px;
  margin: 0 16px;
}
.calendar section .day:first-child {
  margin-left: 44px;
}
.calendar section .day:last-child {
  margin-right: 44px;
}
.calendar section .day > p {
  font-weight: 600;
  border-bottom: 1px solid black;
  margin: 0;
  padding: 16px 0;
}
.calendar section .day > div {
  overflow-y: auto;
  height: 90%;
}
.calendar section .day > div > div {
  position: relative;
  border-radius: 8px;
  display: flex;
  margin: 8px 24px;
  height: 64px;
  width: 250px;
  box-shadow: 1px 1px 4px grey;
  align-items: center;
}
.calendar section .day > div > div img {
  height: 50px;
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: 0 24px 0 8px;
}
.calendar section .day > div > div div h2,
.calendar section .day > div > div div p {
  margin: 0;
}
.calendar section .day > div > div div:last-child {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
  right: 16px;
}
.calendar .centered-card,
.calendar .dispoSelect {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.475);
}
.calendar .centered-card > div {
  position: relative;
  display: block;
  background-color: white;
  box-shadow: 1px 4px 4px grey;
  border-radius: 8px;
  padding: 16px;
  width: 220px;
  text-align: center;
}
.calendar .centered-card > div .croix {
  position: absolute;
  top: -24px;
  right: -24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.calendar .centered-card > div .croix .circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(204, 21, 21);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar .centered-card > div .croix .circle span {
  display: block;
  width: 15px;
  height: 2px;
  background-color: white;
  position: absolute;
}
.calendar .centered-card > div .croix .circle span:nth-child(1) {
  transform: rotate(45deg);
}
.calendar .centered-card > div .croix .circle span:nth-child(2) {
  transform: rotate(-45deg);
}
.calendar .centered-card > div h3 {
  font-weight: 500;
  margin: 0;
}
.calendar .centered-card > div h2 {
  margin-top: 0;
  margin-bottom: 8px;
}
.calendar .centered-card > div p {
  margin: 0;
  color: black;
}
.calendar .centered-card > div img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 16px;
  box-shadow: 1px 2px 4px grey;
}
.calendar .centered-card > div .ride {
  position: absolute;
  right: 16px;
  font-size: 0.8em;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: rgb(122, 194, 13);
}
.calendar .centered-card > div .follow {
  position: relative;
  z-index: 10;
  display: inline-block;
  text-decoration: none;
  background-color: rgb(30, 136, 224);
  padding: 8px 16px;
  color: white;
  border-radius: 8px;
  margin: 8px 16px;
  border: 1px solid rgb(30, 136, 224);
  transition: 0.3s;
}
.calendar .centered-card > div .follow:hover {
  background-color: white;
  color: rgb(30, 136, 224);
  scale: 1.05;
  transition: 0.3s;
}
.calendar .dispoSelect .interval-time-picker {
  width: 60%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  position: relative;
}
.calendar .dispoSelect .interval-time-picker .labelDispoTop {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 12px 0;
  text-align: start;
}
.calendar .dispoSelect .interval-time-picker .labelDispoTop select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-align: center;
  border: 0;
  border-bottom: 1px solid black;
  font-size: 0.9em;
}
.calendar .dispoSelect .interval-time-picker .labelDispoTop select option:nth-child(1) {
  color: rgba(0, 0, 0, 0.343);
}
.calendar .dispoSelect .interval-time-picker .croix {
  position: absolute;
  top: -24px;
  right: -24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.calendar .dispoSelect .interval-time-picker .croix .circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(204, 21, 21);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar .dispoSelect .interval-time-picker .croix .circle span {
  display: block;
  width: 15px;
  height: 2px;
  background-color: white;
  position: absolute;
}
.calendar .dispoSelect .interval-time-picker .croix .circle span:nth-child(1) {
  transform: rotate(45deg);
}
.calendar .dispoSelect .interval-time-picker .croix .circle span:nth-child(2) {
  transform: rotate(-45deg);
}
.calendar .dispoSelect .interval-time-picker section {
  margin: 0;
  padding: 16px 0;
  width: 100%;
  min-width: 300px;
}
.calendar .dispoSelect .interval-time-picker section .dispoDay {
  margin: 0 16px;
  min-width: 250px;
  border: 1px solid black;
  box-shadow: 1px 1px 2px grey;
  border-radius: 16px;
  padding: 16px;
}
.calendar .dispoSelect .interval-time-picker section .dispoDay:first-child {
  margin-left: 8px;
}
.calendar .dispoSelect .interval-time-picker section .dispoDay:last-child {
  margin-right: 8px;
}
.calendar .dispoSelect .interval-time-picker section .dispoDay > h3 {
  margin: 0;
  text-decoration: underline;
}
.calendar .dispoSelect .interval-time-picker section .dispoDay div div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed black;
  border-radius: 16px;
}
.calendar .dispoSelect .interval-time-picker section .dispoDay div div p {
  color: black;
}
.calendar .dispoSelect .interval-time-picker section .dispoDay div div label {
  margin: 10px 0;
}
.calendar .dispoSelect .interval-time-picker section .dispoDay div div label select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 8px;
  border: 0;
  font-size: 1em;
}
.calendar .dispoSelect .interval-time-picker section .dispoDay div div input[type=submit] {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.calendar .dispoSelect .interval-time-picker section .dispoDay div div input[type=submit]:hover {
  background-color: #45a049;
}
.calendar .dispoSelect .interval-time-picker input[type=submit] {
  background-color: rgb(30, 136, 224);
  padding: 8px 16px;
  color: white;
  border-radius: 8px;
  margin: 8px 16px;
  border: 1px solid rgb(30, 136, 224);
  transition: 0.3s;
  font-size: 1.2em;
}
.calendar .dispoSelect .interval-time-picker input[type=submit]:hover {
  background-color: white;
  color: rgb(30, 136, 224);
  scale: 1.05;
  transition: 0.3s;
}

.background {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-image: url("/src/images/montagne.jpg");
  position: fixed;
  top: 0;
}

.creation, .infos {
  margin: 32px 0;
}
.creation h1, .infos h1 {
  color: black;
  text-shadow: 1px 1px 2px rgb(187, 187, 187);
  text-align: center;
  margin: 16px 0;
  padding: 0 16px;
}
.creation .card, .infos .card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 400px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
  padding: 16px 0;
}
.creation .card label, .infos .card label {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 12px 0;
}
.creation .card label input,
.creation .card label select, .infos .card label input,
.infos .card label select {
  border: 0;
  border-bottom: 1px solid black;
}
.creation .card label select option:nth-child(1), .infos .card label select option:nth-child(1) {
  color: rgba(0, 0, 0, 0.343);
}
.creation .card label input[type=file], .infos .card label input[type=file] {
  display: none;
}
.creation .card .photo, .infos .card .photo {
  border: 1px dashed black;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  transition: 0.3s;
  margin-bottom: 0;
}
.creation .card .photo:hover, .infos .card .photo:hover {
  scale: 1.05;
  transition: 0.3s;
}
.creation .card button, .infos .card button {
  text-decoration: none;
  background-color: rgb(30, 136, 224);
  padding: 8px 16px;
  color: white;
  border-radius: 8px;
  margin: 8px 0;
  border: 1px solid rgb(30, 136, 224);
  transition: 0.3s;
  font-size: 1.2em;
}
.creation .card button:hover, .infos .card button:hover {
  background-color: white;
  color: rgb(30, 136, 224);
  scale: 1.05;
  transition: 0.3s;
}
.creation .card .validFile, .infos .card .validFile {
  margin: 0;
  font-size: 0.8em;
  width: 60%;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-shrink: 1;
  white-space: nowrap;
  text-align: center;
}

@media screen and (max-width: 400px) {
  .navbar .slogan {
    display: none;
  }
  .navbar ul {
    width: 95%;
    padding: 8px 0;
  }
}/*# sourceMappingURL=index.css.map */